<h1>Comment your opinion</h1>
<form action="/home/add_process" method="post">
	Name: <input type="text" name="user"><br>
	Comment: <input type="text" name="comment">
	<input type="submit" value="add">
</form>


